* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  background-color:rgb(245, 245, 245);
  font-family: 'Lato', sans-serif;
  padding: 70px 0 0 0;

}


img {
  display: block;
}

ul {
  list-style-type: none;
  list-style: none;
}

address {
  font-style: normal;
}